html{
    font-size: 70%;
    box-sizing: border-box;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

.calculator {
    border: 3px solid black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
}

#display {
    width: 100%;
    font-size: 5rem;
    height: 80px;
    border: 1px solid #333333;
    background-color: #cccccc;
    color: black;
    text-align: right;
    padding-right: 20px;
    padding-left: 10px;
}

.keys {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; /* 4 columns of equal width */
}

button {
    height: 60px;
    background-color: black;
    border: 1px solid #333333;
    background-color: white;
    font-size: 2rem;
    color: #333;
}

button:hover {
    filter: brightness(90%);
}

button:active {
    font-weight: bold;
}

.operator {
    background-color: #cccccc;
}

.equals {
    background-color: #9999ff;
    height: 100%;
    grid-row-start: 2;
    grid-row-end: 6;
    grid-column-start: 4;
    grid-column-end: 5;
}

